{% extends 'food/base.html'%}

    {% block body  %}
    {%for item in item_list%}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="350px" width="350px" src="{{item.item_image}}" >
            </div>
            <div class="col-md-4 ">
                <h3>{{item.item_name}}</h3>
                <h3>{{item.item_desc}}</h3>
                <h3>{{item.item_price}} Rs</h3>
            </div>
            <div class="col-md-1 ">
                <a href="{% url 'food:details' item.id%}" class="btn btn-success">Details</a>
            </div >
            <div class="col-md-1">
                <a href="{% url 'food:update_item' item.id%}" class="btn btn-success">update item</a>
            </div>
            
        </div>
    {%endfor%}  
{%endblock%}

      
